{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <title>Article List</title>

 </head>
 <body style="background-image: url('{% static  "images/futuristic.jpg" %}');">
  <header>
    <a class= "p-2 text-black" href="{% url 'special' %}" style="color:white"><b>Home</b></a>
</header>
  <!-- <h1>Article List</h1>
   <div class="articles">
    
    {% for article in articles  %}
     <div class="article">

       <h2><a href="#">{{article.title}}</a></h2>
       <p>{{article.snippet}}</p>
       <p>{{article.date}}</p>
    
    </div>

    {% endfor %}
   </div> -->
  

   <br>
   <br>
    <center>
        <h2 style="color:white">CRUD Operations</h2>
    <hr/>
  <br>
         <table border="1" style="color:white;width: 100%;">
            <tr>
         <th>User</th>
         <th>Title</th>
         <th style="color:blue">Slug</th>
         <th>Body</th>
         <th>Date</th>
        </tr>


        <tr>
            {% for article_list in Article %}
              {% if article_list.user == request.user.username %}
                <tr>
                  
                 <td>{{ article_list.user}}</td>
                 <td>{{ article_list.title}}</td>
                 <td style="color:blue">{{ article_list.slug}}</td>
                 <td>{{ article_list.body}}</td>
                 <td>{{ article_list.date}}</td>
                 <td>
                  <a style="color:white;background-color: blue;font-size: large;"href="/edit/{{ article_list.id }}"><b>Edit</b></a>
                  <a style="color:white;background-color: red;font-size: large;"href="/delete/{{ article_list.id }}"><b>Delete</b></a>
                 </td>

                </tr>

                {% endif  %}
            {% endfor  %}

        </tr>
    


    </table>
    <a href="{% url 'u_create'    %} " style="color:white;background-color: blue;font-size: large;"><b>Add User Record</b></a>
       
    </center>



 </body>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{%  endblock %}
</html>