<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Update</title>
</head>
<body>
    <header>
        <a class= "p-2 text-black" href="{% url 'special' %}">Home</a>
    </header>
    <center>
        
        <form method="POST" action="/update/{{employee:id}}">
        
            {% csrf_token    %}
            <table border="1">

            <tr>
                <td>User's Name</td>
                <td><input type="text" name="user" value="{{employee.user}}"></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title" value="{{employee.title}}"></td>
            </tr>
            <tr>
                <td>Slug</td>
                <td><input type="text" name="slug" value="{{employee.slug}}"></td>
            </tr> 
            <tr>
                <td>Body</td>
                <td><input type="text" name="body" value="{{employee.body}}"></td>
            </tr>
            <tr>   
                <td>Date</td>
                <td><input type="text" name="date"  value="{{employee.date}}"></td>
                
            </tr>

        </table>
         <br>
        <button type="submit" >Update</button>
        <a href="{% url 'article_list' %}">Article list </a>
        <hr/>
        {% if messages %} 
        {% for result in messages %}

        {{result}}
        {% endfor %}
        {% endif %}
    </form>    
    </center>
</body>
</html>