{% load static %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>My 4IR Web</title>
  </head>
  <body id="bg" style="background-image: url('{% static "/images/futuristic.jpg" %}');">
    <header>
      <a href="#"  class="logo"><b>4IR</b></a>
      <ul>
        <li><a href="{% url 'home' %}" >Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#" class="active">Contact</a></li>
      </ul>


    </header> 
    <section>
      <div class="content">
       <h1>Contact</h1>
      <div class="container">New technology which is making the impossible possible, especially where computers and humans are concerned.
        We give you a glipse of its advantages in increasing productivity, efficiency and quality in different environments.</div>
    </div>
    </section>
   {% block script %}
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
     integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script >
       let container=document.querySelector('.container');
       for(let i=1;i<=99;i++){
        let dot = document.createElement('div');
        dot.classList.add('element');
        container.appendChild(dot);
       }
     let dotAll=document.querySelectorAll('.element');
     let animation=anime.timeline({
     targets:dotAll,
     easing: 'easeInOutExpo',
     loop:true,
     delay:anime.stagger(100,{grid:[10,10],from:'center'})
    })
    animation
    .add({
       rotateZ:180,
       translateY:anime.stagger(-20,{grid:[10,10],from:'center',axis:'y'}),
       translateX:anime.stagger(-20,{grid:[10,10],from:'center',axis:'x'}),
       opacity:1,
    
    })
    .add({
       borderRadius:50,
    
    })
    .add({
       scale:0.2,
       opacity:0.2,
    
    })
    .add({
       rotateZ:180,
       translateY:anime.stagger(0,{grid:[10,10],from:'center',axis:'y'}),
       translateX:anime.stagger(0,{grid:[10,10],from:'center',axis:'x'}),
       opacity:1,
    
    })
    .add({
        scale:1,
        borderRadius:0,
    })
    .add({
        rotateZ:-90,
    })
     

        </script>
           {% endblock script %}
    </body>

  {% endblock %} 
  </html>
 